.users {
  text-align: center;
}
.users h1 {
  margin: auto;
  margin-bottom: 15px;
}

/* ============================== PAGINATION */
.users__pagination {
  background-color: antiquewhite;
  display: inline-flex;
  border-radius: 15px;
  overflow: hidden;
  -webkit-user-select: none;
  margin-bottom: 20px;
}

.users__page {
  color: yellow;
  font-size: 12px;
  padding: 7px;
  background-color: rgb(132, 0, 255);
  cursor: pointer;
}

.users__page:hover {
  color: rgb(132, 0, 255);
  background-color: rgb(255, 255, 255);
}

.users__page_selected {
  color: rgb(132, 0, 255);
  background-color: yellow;
}
/* ============================== PAGINATION */

.user {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

.user__ava {
  display: flex;
  flex-direction: column;
}

.user__ava img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  background-color: gray;
}

.user__info {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  border: rgb(169, 77, 255) 2px solid;
  border-radius: 15px;
  justify-content: space-between;
}

.user__info-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user__info-row2 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.user__status {
  font-size: 12px;
}
