.posts {
	background-color: rgb(0, 151, 252);
}

.posts h3 {
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.posts__list {
	padding: 5px;
	background-color: lawngreen;
}

.posts__input {
	display: flex;
	margin: 10px;
}

.posts__input button {
	margin: 10px;
}
