.dialog__input {
	padding: 5px;
	display: flex;
	background-color: rgb(235, 235, 235);
}

.dialog__input textarea {
	border: none;
	outline: none;
	margin: 5px;
	width: 100%;
	resize: none;
	overflow: hidden;
	padding: 10px;
	font-size: 14px;
	display: block;
	border-radius: 10px;
}

.dialog__input button {
	margin: auto 5px 8px 5px;
}
