.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 255, 33);
  padding: 15px;
  width: 15%;
}

.nav-bar__item {
  text-decoration: none;
  margin: 5px;
}

.nav-bar__item_red {
  color: rgb(230, 1, 157);
}